


<body>
	<div id="header">
		<h2>Donor List<br>Feed Charity Buddy Below</h2>
	</div>
	<div id="nav">
			<button id="button">
				<%= link_to "Home", (root_path) %>
				<%= link_to "Campaings", (causes_list_path) %>

			</button>
	</div>
		<div id="donate">
			<%= form_tag(add_donation_path) do %>
			<%= label_tag "Donor Username" %>
			<%= text_field_tag :username %>
			<%= label_tag "Amount" %>
			<%= number_field_tag :amount %>
			<%= label_tag "Cause" %>
			<%= text_field_tag :cause %>
			<%= label_tag "Event" %>
			<%= text_field_tag :event %>
			<%= submit_tag "Add Donation" %>
		</div>
		<% end %>

		<div id="content">
			
			<% current_user.donors.map do |donor| %>
		
				<b>Donor Name: </b><%= donor.name %><br>
				username: <%= donor.username %><br>
				Lifetime Donations: <%= donor.lifetime_donations %><br>
				Email: <%= donor.email %><br>
			<% end %>
			<% scope = Donor.all.page(params[:page]) %>
			<%= paginate(scope) %>
		
		</div>
		<div id="donor_submit">
			<%= form_tag(donor_add_path) do %>
  		<%= label_tag "Donor name: " %><br />
  		<%= text_field_tag :name %><br />
  		<%= label_tag "Username (must be unique): " %><br />
  		<%= text_field_tag :username %><br />
			<%= label_tag "Donor email" %><br />
			<%= text_field_tag :email %><br />
			<%= submit_tag "Add Donor"%>
			<% end %>
		</div>
		<div id="nav">
			<button id="botton">
				<%= link_to "Home", (root_path) %>

			</button>
		</div>

</body>

