


<body>
	<div id="header">
		<h2>Charity Buddy Donor List</h2>
	</div>
		<div id="content">
			
			<% current_user.donors.map do |donor| %>
		
				<b>Donor Name: </b><%= donor.name %><br>
				username: <%= donor.username %><br>
				Lifetime Donations: <%= donor.lifetime_donations %><br>
				Email: <%= donor.email %><br>
				<button id="button">
					<%= link_to "Add Donation", (donate_path) %>
				</button><br>
			<% end %>
			<% scope = Donor.all.page(params[:page]) %>
			<%= paginate(scope) %>
		
		</div>
		<div id="donor_submit">
			<%= form_tag(donor_add_path) do %>
  		<%= label_tag "Donor name: " %><br />
  		<%= text_field_tag :name %><br />
  		<%= label_tag "Username (must be unique): " %><br />
  		<%= text_field_tag :username %><br />
			<%= label_tag "Donor email" %><br />
			<%= text_field_tag :email %><br />
			<%= submit_tag "Add Donor"%>
			<% end %>
		</div>
</body>

