
<body>
	<div id="header">
		<h1>Welcome to CharityBuddy!(working name)</h1>
	</div>
		<% total = Donation.all %>
		<% amount = [] %>
		<% total.map do |donation| %>

		<% amount.push(donation.amount) %>
		<% end %>
		<% grand_total = amount.reduce(:+) %>
	<div id="grand">
		<h3>Total Raised So far! $<%= grand_total %></h3>
	</div>
		Registered Users:<br><% users = User.all %>
		<% users.map do |user| %>
		<%= user.email %><br>
		<% end %>
	<div id="content">
		<%= button_to "Sign Up", (new_user_registration_path),
		method: :get  %>
		<%= button_to "login", (new_user_session_path),
		method: :get %>

		<%= button_to "logout", (destroy_user_session_path), 
		method: :delete %>
	</div>
		<% if current_user == nil %>
		<b>Please sign in to use CharityBuddy</b>
		<% else %>
		<b>Signed in as:</b> <%= current_user.email %>
		<% end %>
		<div id="nav">
			<button id="button">
			<%= link_to "Donor list", (donor_list_path), method: :get %>
			</button>
			<button id="button">
				<%= link_to "Campaings", (causes_list_path) %>
			</button>
	</div>






