<body>
	<div id="header">
		<h1>Campaings</h1>
	</div>
	<div id="nav">
		<button id="button">
			<%= link_to "Home", (root_path) %>
		</button>
		<button id="button">
			<%= link_to "Donor List", (donor_list_path) %>
		</button><br>
		<b>Add an Individual donation:</b><br> The only required fields are username (must match a donor username or 'anon', not case sensitive), and amount<br>Put the cause name and/or event name and the donation will be added to the total of the cause/event.
		<div id="donate">
			<%= form_tag(add_donation_path) do %>
			<%= label_tag "Donor Username" %>
			<%= text_field_tag :username %>
			<%= label_tag "Amount" %>
			<%= number_field_tag :amount %>
			<%= label_tag "Cause" %>
			<%= text_field_tag :cause %>
			<%= label_tag "Event" %>
			<%= text_field_tag :event %>
			<%= submit_tag "Add Donation" %>
		</div>
		<% end %>
		<b>Add A Campaing</b>
	<div id="add_campaing">
			<%= form_tag(add_cause_path) do %>
			<%= label_tag "Campaing Name" %><br>
			<%= text_field_tag :name %><br>
			<%= label_tag "Description" %><br>
			<%= text_area_tag :notes, nil, cols: 30, rows:2 %><br>
			<%= submit_tag "Add Campaing" %>
	</div>
	<% end %>
		<div id="content">
			<% causes = Cause.all %>
			<% causes.map do |cause| %>
			<div id="listing">
			<b>Campaing: </b> <%= cause.name %><br>
			Total Donations: <%= cause.amount %><br>
			Description: <%= cause.notes %><br>

			</div>

	<% end %>
		</div>
	
</body>








