<body>
	<div id="header"
		<h2>Current Campaings</h2>
	</div>

	<div id="nav">
		<button id="button">
			<%= link_to "Home", (root_path) %>
		</button>
	</div>

	<div id="add_campaing">
		<%= form_tag(add_campaing_path) do %>
		<%= label_tag "Campaing Name" %>
		<%= text_field_tag :name %>
		<%= label_tag  %>
	</div>

	<div id="content">



	</div>

</body>